@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,400;1,600&display=swap");

:root {
  --primary: #fe2c55;
  //Default-layout
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --black: #000;
  --line-height: 22px;
  --text-color: #333;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
button,
input,
[tabindex] {
  outline: none;
  border: none;
}
