.wrapper {
  min-width: 100px;
  padding: 9px 12px;
  font-size: 1.6rem;
  font-weight: 700;

  border-radius: 4px;
  background-color: var(--white);
  cursor: pointer;
  border: 1px solid var(--primary);

  + .wrapper {
    margin-left: 15px;
  }
}
//Button types
.primary {
  color: var(--white);
  background-color: var(--primary);
  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
      #fe2c55;
  }
  .plusIcon {
    padding-right: 10px;
  }
}
.outline {
  color: var(--primary);
  background-color: var(--white);
  &:hover {
    background-color: rgba(254, 44, 85, 0.06);
  }
}
.text {
  min-width: 110px;
  height: 36px;
  padding: 0 16px;
  color: #333;
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 2px;
  background: rgba(255, 255, 255, 1);
  s &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}
//Button size

.small {
  min-width: 88px;
  padding: 4px 16px;
}

.large {
  min-width: 168px;
  min-height: 48px;
  font-size: 18px;
  padding: 6px 8px;
  font-weight: 600;
  border: 1px solid var(--primary);
  color: rgba(254, 44, 85, 1);
  background-color: var(--white);
}
